.bigscreen .stream-panel--theater .header {
    z-index: 25;
}
.bigscreen .stream-panel--theater .header .navbar-root {
   transition: transform 0.125s;
   transform: translateY(-100%);
   background-color: #111113;
}
.bigscreen .stream-panel--theater .header:hover .navbar-root {
    transform: translateY(0%);
}